	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/#/" title="Home">主页</a></li>
					<li>我的账号</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
		
			<!--content-->
			<section class="content">
				<!--row-->
				<div class="row">
					<!--profile left part-->
					<div class="my_account one-fourth wow fadeInLeft">
						<figure>
							<img src="images/avatar.jpg" alt="" />
						</figure>
						<div class="container">
							<h2>王爸爸</h2> 
						</div>
					</div>
					<!--//profile left part-->
					
					<div class="three-fourth wow fadeInRight">
						<nav class="tabs">
							<ul>
								<li class="active"><a href="#my_profile#about" title="About me">信息</a></li>
								<li><a href="#admin#recipes" title="My recipes">审核菜谱</a></li>
								<li><a href="#admin#favorites" title="My favorites">查看意见</a></li>
								<!-- <li><a href="#posts" title="My posts">ヽ(•̀ω•́ )ゝ</a></li> -->
							</ul>
						</nav>
					
					<!--about-->
						<div class="tab-content" id="about">
							<div class="row">
								<dl class="basic two-third">
									<dt>待查看意见数</dt>
									<dd>{{contactnum}}</dd>
									<dt>待审核食谱数</dt>
									<dd>{{recipeNum}}</dd>
								</dl>
							</div>
						</div>
						<!--//about-->

						<!--my recipes-->
						<h2>待审核菜谱</h2>
						<div class="tab-content" id="recipes">
							<div class="entries row">
								<!--item-->

								<div class="entry one-third wow fadeInLeft" ng-repeat="recipe in recipelist">
									<figure>
										<img ng-src="{{recipe.photo}}" alt="" />
										<figcaption><a href="/#/recipe/{{recipe._id}}"><i class="ico i-view"></i> <span>查看</span></a></figcaption>
									</figure>
									<div class="container">
										<h2><a href="/#/check_recipe/{{recipe._id}}">{{recipe.name}}</a></h2> 
										<div class="actions">
											<div>
												<div class="difficulty"><i class="ico i-medium"></i>{{recipe.level}}</div>
												<div class="likes"><i class="ico i-likes"></i>{{recipe.likeNum}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--//my recipes-->
						
						<!--//my favorites-->
						<h2>用户意见</h2>
						<div class="tab-content" id="posts">
							<!--entries-->
							<div class="entries row">
								<!--item-->
								<div class="entry one-third wow fadeInLeft" ng-repeat="contact in contactlist">
									<div class="container">
										<h2>来自用户:{{contact.name}}</h2> 
										<a ng-click="checkIdea(contact._id)" class="button gold">已阅</a>
										<div class="actions">
											<div>
												<div class="comments">邮箱:{{contact.email}}</div>
												<div class="comments">电话:{{contact.phone}}</div>

											</div>
										</div>
										<div class="excerpt">
											<p>意见:{{contact.comments}}</p>
										</div>
									</div>
								</div>

							</div>
							<!--//entries-->
						</div>
						
						
					</div>
				</div>
				<!--//row-->
			</section>
			<!--//content-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->
	
						
					</div>
				</div>
				<!--//row-->
			</section>
			<!--//content-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->