<!-- 	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/#/" title="Home">主页</a></li>
					<li>修改菜谱</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title">
					<h1>修改菜谱</h1>
				</header>
					
				<!--content-->
				<section class="content full-width wow fadeInUp">
					<div class="submit_recipe container">
						
						<form  name="myForm">
							<section>
								<h2>封面</h2>
								<figure>
							         <img ng-src="{{recipe.photo}}" alt="" />
						        </figure>
								<input type="file" ngf-select ng-model="picFile" name="file"    
						             accept="image/*" ngf-max-size="20MB" 
						             ngf-model-invalid="errorFile">
						      <i ng-show="myForm.file.$error.maxSize">图片太大
						          {{errorFile.size / 1000000|number:1}}MB: 最大20Mb</i>
						      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
						       <button ng-click="picFile = null" ng-show="picFile" > 移除图片</button>
							</section>	
							<input type="submit" class="button" value="上传图片"  ng-click="PutRecipePhoto(picFile)" />
							
						</form>
						<form>

							<section>
								<h2>基本信息</h2>
								<p>下列信息均需填写</p>
								<div class="f-row">
									<div class="full"><input type="text" placeholder="菜品名" name="name" id="name" ng-model="name"  required/></div>
								</div>
								<div class="f-row">
									<div class="third"><input type="text" placeholder="制作时间" name="makeTime" id="makeTime" ng-model="makeTime"  required/></div>
									<div class="third"><input type="text" placeholder="卡路里含量" name="calorie" id="calorie" ng-model="calorie"  required/></div>
									<div class="third"><input type="text" placeholder="适宜人数" name="peopleNum" id="peopleNum" ng-model="peopleNum"  required/></div>
								</div>
								<div class="f-row">		
									<div class="third">
										难度:<select ng-model="level" ng-options="level for level in levels">
										</select>
									</div>
									<div class="third">
										种类:<select ng-model="type" ng-options="type for type in types">
										</select>
									</div>
								</div>
							</section>
							
							<section>
								<h2>描述</h2>
								<div class="f-row">
									<div class="full"><textarea placeholder="菜品简介" name="description" id="description" ng-model="description"  required></textarea></div>
								</div>
							</section>	
							
							<section>
								<h2>材料</h2>
								<div class="f-row ingredient" ng-repeat="ingredient in ingredientlist">
									<div class="large"><input type="text" placeholder="材料名称" ng-model="ingredient.name"/></div>
									<div class="small"><input type="text" placeholder="用量" ng-model="ingredient.amount"/></div>
									<button class="remove" ng-show="$index!=0" ng-click="delingredient($index)">-</button>
								</div>
								<div class="f-row full">
									<button class="add" ng-click="addingredient()">添加一种材料</button>
								</div>
							</section>	
							
							<section>
								<h2>步骤 <span>(添加步骤，每次只能添加一步)</span></h2>
								<div class="f-row instruction" ng-repeat="instruction in instructionlist">
									<div class="full"><input type="text" placeholder="第{{$index+1}}步" ng-model="instruction.detail"/></div>
									<button class="remove" ng-show="$index!=0" ng-click="delinstruction($index)">-</button>
								</div>
								<div class="f-row full">
									<button class="add" ng-click="addinstruction()">添加一个步骤</button>
								</div>
							</section>	

							<section>
							<div class="container recipefinder">
                            <div class="right">
							<div class="ingredients">
								<h2>饮食偏好<span>(多选)</span></h2>
									<p><input type="checkbox" id="r1" name="category1" ng-click="radioclick(1)"/>
									<label for="r1">素食</label></p>
									<p><input type="checkbox" id="r2" name="category2" ng-click="radioclick(2)"/>
									<label for="r2">无糖</label></p>
									<p><input type="checkbox" id="r3" name="category3" ng-click="radioclick(3)"/>
									<label for="r3">低脂</label><p>
									<p><input type="checkbox" id="r4" name="category4" ng-click="radioclick(4)"/>
									<label for="r4">麻辣</label><p>
									<p><input type="checkbox" id="r5" name="category5" ng-click="radioclick(5)"/>
									<label for="r5">无乳糖</label><p>
									<p><input type="checkbox" id="r6" name="category6" ng-click="radioclick(6)"/>
									<label for="r6">低卡</label><p>
                            </div>
                            </div>
                            </div>
							</section>
													
							<div class="f-row full">
								<input type="submit" class="button" id="submitRecipe" value="确认修改"  ng-click="PutRecipeInfo()" />
							</div>
						</form>
					</div>
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main--> -->