	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--row-->
			<div class="row">
			<!--content-->
				<section class="content center full-width wow fadeInUp">
					<div class="modal container">
						<h3>修改个人信息</h3>
						<div class="f-row">
							<input type="text" placeholder="昵称" />
						</div>
						<div class="f-row">
							<label for="birth">生日：</label><input id="birth" type="date" value="2016-01-01"/>
						</div>
						<div class="f-row">
							<div class="f-row full">
							<label for="sex">性别：</label>
									<input type="radio" id="sex1" name="radio"/>
									<label for="r1">男</label>
									&nbsp
									<input type="radio" id="sex2" name="radio"/>
									<label for="r2">女</label>
							</div>
						</div>
						<div class="f-row">
							<input type="text" placeholder="来一段个性签名吧 o(*≧▽≦)ツ" />
						</div>
						<div class="f-row bwrap">
							<input type="submit" value="确认修改" />
						</div>
					</div>
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>


