	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--row-->
			<div class="row">
			<!--content-->
				<section class="content center full-width wow fadeInUp">
					<div class="modal container">
					<form name="form" ng-submit="changePass()" role="form">
						<h3>修改密码</h3>
						<div class="f-row">
							<input type="password" id="old_password" name="old_password" placeholder="原始密码" ng-model="old_password" required/>
						</div>
						<div class="f-row">
							<input type="password" id="new_password" name="new_password" placeholder="新密码" ng-model="new_password" required/>
						</div>
						<div class="f-row">
							<input type="password" id="new_password1" name="new_password1" placeholder="重复新密码" ng-model="new_password1" required/>
						</div>
						<div class="f-row bwrap">
							<input type="submit" value="确认修改" />
						</div>
						{{message}}
					</form>
					</div>
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->