	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--row-->
			<div class="row">
			<!--content-->
				<section class="content center full-width wow fadeInUp">
					<div class="modal container">
						<h3>修改密码</h3>
						<div class="f-row">
							<input type="password" placeholder="原始密码" />
						</div>
						<div class="f-row">
							<input type="password" placeholder="密码" />
						</div>
						<div class="f-row">
							<input type="password" placeholder="重复密码" />
						</div>
						<div class="f-row bwrap">
							<input type="submit" value="确认修改" />
						</div>
					</div>
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->