	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/#/" title="Home">主页</a></li>
					<li><a href="#" title="Recipes">菜谱</a></li>
					<li><a href="/#/recipes" title="Cocktails">点心</a></li>
					<li>菜谱</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			<!--row-->
			<div class="row">
				<header class="s-title wow fadeInLeft">
					<h1>{{recipe.name}}</h1>
				</header>
				<!--content-->
				<section class="content three-fourth">
					<div class="row">
					<!--recipe-->
						<div class="recipe">
							<!--two-third-->
							<article class="two-third wow fadeInLeft">
								<div class="image"><a href="#"><img ng-src="{{recipe.photo}}" alt="" /></a></div>
								<div class="intro"><p><strong>菜品简介</strong></p> <p>{{recipe.description}}</p></div>
								<div class="instructions">
									<ol>
										<li ng-repeat="step in steps">{{step.detail}}</li>
									</ol>
								</div>
							</article>
							<!--//two-third-->
							
							<!--one-third-->
							<article class="one-third wow fadeInDown">
								<dl class="basic">
									<dt>制作时间</dt>
									<dd>{{recipe.makeTime}}</dd>
									<dt>难度</dt>
									<dd>{{recipe.level}}</dd>
									<dt>适宜人数</dt>
									<dd>{{recipe.peopleNum}} </dd>
								</dl>
								
								<dl class="user">
									<dt>类别</dt>
									<dd>{{recipe.labels}}</dd>
								    <dt>卡路里 </dt>
								    <dd>{{recipe.calorie}}</dd>

								</dl>
								
								<dl class="ingredients" ng-repeat="meterial in meterials">
				
									<dt>{{meterial.amount}}</dt>
									<dd>{{meterial.name}}</dd>
								</dl>
							</article>
							<!--//one-third-->
						</div>
						<!--//recipe-->
						
						<!--respond-->
						<div class="comment-respond wow fadeInUp" id="respond">
							<h2>审核</h2>
							<div class="container">
								<p><strong>注意:</strong> 请管理员好好审核哟(=ﾟωﾟ)ﾉ<span class="req">*</span></p>
								<form>
									
									<div class="f-row">
										<textarea placeholder="给一个不通过的理由吧(ﾉ･ω･)ﾉﾞ" ng-model="deleteReason"></textarea>
									</div>
									
									<div class="third bwrap">
										<input type="submit" ng-click = "checkOK()" value="审核通过" />
									</div>

									<div class="third bwrap">
										<input type="submit" ng-click = "checkNotOK()" value="审核不通过" />
									</div>

									
									
								</form>
							</div>
						</div>
						<!--//respond-->
					</div>
				</section>
				<!--//content-->
				
				<!--right sidebar-->
				<aside class="sidebar one-fourth wow fadeInRight">

					<div class="widget members">
						<h3>菜谱分享者</h3>
						<figure>
							<img src="images/avatar.jpg" alt="" />
						</figure>
						<h3>{{author.nickname}}</h3>
					</div>

				</aside>
				<!--//right sidebar-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->