	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--row-->
			<div class="row">
				<!--content-->
				<section class="content center full-width wow fadeInUp">
					<div class="modal container">
						<form method="post" action="contact_form_message.php" name="contactform" id="contactform">
							<h3>删除理由</h3>
							<div id="message" class="alert alert-danger"></div>
							<div class="f-row">
								<input type="email" placeholder="用户邮箱" id="email" />
							</div>
							<div class="f-row">
								<textarea placeholder="告诉用户，删除的理由(ﾉ･ω･)ﾉﾞ" id="comments"></textarea>
							</div>
							<div class="f-row bwrap">
								<input type="submit" value="发送信息" />
							</div>
						</form>
					</div>
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->