<main class="main" role="main" style="padding-top:0">
        <!--intro-->
        <div class="intro">
            <figure class="bg"><img src="images/intro.jpg" alt="" /></figure>
            
            <!--wrap-->
            <div class="wrap clearfix">
                <!--row-->
                <div class="row">
                    <article class="three-fourth text wow zoomIn" data-wow-delay=".2s">
                        <h1>Welcome to KitchenSecret!</h1>
                        <h1>{{awesomeThings[0].nickname}}!</h1>
                        <p>这里就是 <strong>KitchenSecret</strong>, 棒棒的介绍哟</p>
                        <p>其实就是还没想好简介</p>
                        <a href="/#/submit_recipe" class="button white more medium">快来分享菜谱!</a>
                        <p><a href="/#/login">注销</a></p>
                    </article>
                    
                    <!--search recipes widget-->
                    <div class="one-fourth wow fadeInDown" data-wow-delay=".5s">
                        <div class="widget container">
                            <div class="textwrap">
                                <h3>搜索菜谱</h3>
                                <p>你所需要做的就是输入菜品关键字 </p>
                                <p>你也可以选择特定分类哟</p>
                                <p>这里一定有吸引你的美食呢</p> 
                                <p>玩得开心!</p>
                            </div>
                            <form action="/#/find_recipe">
                                <div class="f-row">
                                    <input type="text" placeholder="输入菜品关键字" />
                                </div>
                                <div class="f-row">
                                    <select>
                                        <option>选择分类</option>
                                        <option>主食</option>
                                        <option>菜品</option>
                                        <option>粥类</option>
                                        <option>甜点</option>
                                        <option>饮料</option>
                                        <option>小吃</option>
                                        <option>西餐</option>
                                        <option>海鲜</option>
                                    </select>
                                </div>
                                <div class="f-row bwrap">
                                    <input type="submit" value="去吃吧～皮卡丘!" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--//search recipes widget-->
                </div>
                <!--//row-->
            </div>
            <!--//wrap-->
        </div>
        <!--//intro-->
        
        <!--wrap-->
        <div class="wrap clearfix">
            <!--row-->
            <div class="row">
                <!--content-->
                <section class="content full-width">
                    <div class="icons dynamic-numbers">
                        <header class="s-title wow fadeInDown" ng-controller="MainCtrl"/>
                            <h2 class="ribbon large">开启你的菜谱之旅吧(´・ω・`)</h2>
                            <h3>{{awesomeThings}}</h3>                                                                                                                                                                 
                        </header>
                        
                        <!--row-->
                        
                        <!--//row-->
                    </div>
                </section>
                <!--//content-->
            
                <!--content-->
                <section class="content three-fourth">
                    <!--cwrap-->
                    <div class="cwrap">
                        <!--entries-->
                        <div class="entries row">
                            <!--featured recipe-->
                            <div class="featured two-third wow fadeInLeft">
                                <header class="s-title">
                                    <h2 class="ribbon">今日推荐</h2>
                                </header>
                                <article class="entry">
                                    <figure>
                                        <img src="images/img2.jpg" alt="" />
                                        <figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>查看菜谱</span></a></figcaption>
                                    </figure>
                                    <div class="container">
                                        <h2><a href="/#/recipe">煎鸡蛋</a></h2>
                                        <p>这是一个香喷喷的煎鸡蛋嘞 </p>
                                        <div class="actions">
                                            <div>
                                                <a href="#" class="button">查看完整菜谱</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!--//featured recipe-->
                            
                            <!--featured member-->
                            <div class="featured one-third wow fadeInLeft" data-wow-delay=".2s">
                                <header class="s-title">
                                    <h2 class="ribbon star">菜谱分享人</h2>
                                </header>
                                <article class="entry">
                                    <figure>
                                        <img src="images/avatar.jpg" alt="" />
                                        
                                    </figure>
                                    <div class="container">
                                        <h2><a href="my_profile.html">隔壁老王</a></h2>
                                        <blockquote>推荐理由：色、香、味俱全，随手捞个蛋就能做，皮卡 (｡・`ω´･)</blockquote>
                                        <div class="actions">
                                            <div>
                                                <p><——wuli maker!</p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!--//featured member-->
                        </div>
                        <!--//entries-->
                    </div>
                    <!--//cwrap-->
                
                    <!--cwrap-->
                    <div class="cwrap">
                        <header class="s-title">
                            <h2 class="ribbon bright">最新菜谱</h2>
                        </header>
                        
                        <!--entries-->
                        <div class="entries row">
                            <!--item-->
                            <div class="entry one-third wow fadeInLeft">
                                <figure>
                                    <img src="images/img6.jpg" alt="" />
                                    <figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>查看菜谱</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="/#/recipe">泰式水果炒饭</a></h2> 
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-medium"></i><a href="#">中</a></div>
                                            <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->
                            
                            <!--item-->
                            <div class="entry one-third wow fadeInLeft" data-wow-delay=".2s">
                                <figure>
                                    <img src="images/img5.jpg" alt="" />
                                    <figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>查看菜谱</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="/#/recipe">辣味摩洛哥对虾配番茄</a></h2> 
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-hard"></i><a href="#">难</a></div>
                                            <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->
                            
                            <!--item-->
                            <div class="entry one-third wow fadeInLeft" data-wow-delay=".4s">
                                <figure>
                                    <img src="images/img8.jpg" alt="" />
                                    <figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>查看菜谱</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="/#/recipe">简易蓝莓蛋糕</a></h2> 
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-easy"></i><a href="#">易</a></div>
                                            <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->
                            
                            <!--item-->
                            <div class="entry one-third wow fadeInLeft" data-wow-delay=".6s">
                                <figure>
                                    <img src="images/img7.jpg" alt="" />
                                    <figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>查看菜谱</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="/#/recipe">香蕉蛋卷</a></h2> 
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-hard"></i><a href="#">难</a></div>
                                            <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->
                            
                            <!--item-->
                            <div class="entry one-third wow fadeInLeft" data-wow-delay=".8s">
                                <figure>
                                    <img src="images/img3.jpg" alt="" />
                                    <figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>查看菜谱</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="/#/recipe">疯狂寿司：你的家庭自制寿司</a></h2> 
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-easy"></i><a href="#">易</a></div>
                                            <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->
                            
                            <!--item-->
                            <div class="entry one-third wow fadeInLeft" data-wow-delay="1s">
                                <figure>
                                    <img src="images/img4.jpg" alt="" />
                                    <figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>查看菜谱</span></a></figcaption>
                                </figure>
                                <div class="container">
                                    <h2><a href="/#/recipe">奶油泡芙：吃了不会胖哟</a></h2> 
                                    <div class="actions">
                                        <div>
                                            <div class="difficulty"><i class="ico i-hard"></i><a href="#">难</a></div>
                                            <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                            <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--item-->
                            
                            <div class="quicklinks">
                                <a href="#" class="button">更多菜谱</a>
                                <a href="javascript:void(0)" class="button scroll-to-top">回到顶部</a>
                            </div>
                        </div>
                        <!--//entries-->
                    </div>
                    <!--//cwrap-->
                
                    <!--cwrap-->
                    
                </section>
                <!--//content-->
        
            
                <!--right sidebar-->
                <aside class="sidebar one-fourth">
                    <div class="widget wow fadeInRight">
                        <h3>菜谱分类</h3>
                        <ul class="boxed">
                            <li class="light"><a href="/#/recipes" title="Appetizers"><i class="ico i-appetizers"></i> <span>主菜</span></a></li>
                            <li class="medium"><a href="/#/recipes" title="Cocktails"><i class="ico i-cocktails"></i> <span>饮料</span></a></li>
                            <li class="dark"><a href="/#/recipes" title="Deserts"><i class="ico i-deserts"></i> <span>甜点</span></a></li>
                            
                            <li class="medium"><a href="/#/recipes" title="Cocktails"><i class="ico i-eggs"></i> <span>小吃</span></a></li>
                            <li class="dark"><a href="/#/recipes" title="Equipment"><i class="ico i-equipment"></i> <span>海鲜</span></a></li>
                            <li class="light"><a href="/#/recipes" title="Events"><i class="ico i-events"></i> <span>西餐</span></a></li>
                        
                            <li class="dark"><a href="/#/recipes" title="Fish"><i class="ico i-fish"></i> <span>海鲜</span></a></li>
                            <li class="light"><a href="/#/recipes" title="Ftness"><i class="ico i-fitness"></i> <span>素食</span></a></li>
                            <li class="medium"><a href="/#/recipes" title="Healthy"><i class="ico i-healthy"></i> <span>无糖</span></a></li>
                            
                            <li class="light"><a href="/#/recipes" title="Asian"><i class="ico i-asian"></i> <span>低脂</span></a></li>
                            <li class="medium"><a href="/#/recipes" title="Mexican"><i class="ico i-mexican"></i> <span>麻辣</span></a></li>
                            <li class="dark"><a href="/#/recipes" title="Pizza"><i class="ico i-pizza"></i> <span>无糖</span></a></li>
                            
                            <li class="medium"><a href="/#/recipes" title="Kids"><i class="ico i-kids"></i> <span>低卡路里</span></a></li>
                            <li class="dark"><a href="/#/recipes" title="Meat"><i class="ico i-meat"></i> <span>Meat</span></a></li>
                            <li class="light"><a href="/#/recipes" title="Snacks"><i class="ico i-snacks"></i> <span>Snacks</span></a></li>
                            
                            <li class="dark"><a href="/#/recipes" title="Salads"><i class="ico i-salads"></i> <span>Salads</span></a></li>
                            <li class="light"><a href="/#/recipes" title="Storage"><i class="ico i-storage"></i> <span>Storage</span></a></li>
                            <li class="medium"><a href="/#/recipes" title="Vegetarian"><i class="ico i-vegetarian"></i> <span>Vegetarian</span></a></li>
                        </ul>
                    </div>
                        
                    
                    <div class="widget wow fadeInRight" data-wow-delay=".6s">
                        <h3>广告</h3>
                        <a href="#"><img src="images/advertisment.png" alt="" /></a>
                    </div>
                </aside>
            </div>
            <!--//right sidebar-->
        </div>
        <!--//wrap-->
    </main>