<main class="main" role="main" style="padding-top:0">
        <!--intro-->
        <div class="intro">
            <figure class="bg"><img src="images/intro.jpg" alt="" /></figure>
            
            <!--wrap-->
            <div class="wrap clearfix">
                <!--row-->
                <div class="row">
                    <article class="three-fourth text wow zoomIn" data-wow-delay=".2s">
                        <h1>Welcome to KitchenSecret!</h1>
                        <h1>{{awesomeThings[0].nickname}}!</h1>
                        <p>这里就是 <strong>KitchenSecret</strong>, 棒棒的介绍哟</p>
                        <p>其实就是还没想好简介</p>
                        <a href="{{messagehref}}" class="button white more medium">{{message}}</a>
                        
                    </article>
                    
                    <!--search recipes widget-->
                    <!-- <div class="one-fourth wow fadeInDown" data-wow-delay=".5s">
                        <div class="widget container">
                            <div class="textwrap">
                                <h3>搜索菜谱</h3>
                                <p>你所需要做的就是输入菜品关键字 </p>
                                <p>你也可以选择特定分类哟</p>
                                <p>这里一定有吸引你的美食呢</p> 
                                <p>玩得开心!</p>
                            </div>
                            <form action="/#/find_recipe/{{selecttype}}#{{selectkey}}">
                                <div class="f-row">
                                    <input type="text" ng-model = "selectkey"  placeholder="输入菜品关键字" />
                                </div>
                                <div class="f-row">
                                    <select ng-model="selecttype" ng-options="selecttype for selecttype in selecttypes"></select>
                                </div>
                                <div class="f-row bwrap">
                                    <input type="submit" value="去吃吧～皮卡丘!" />
                                </div>
                            </form>
                        </div>
                    </div> -->
                    <!--//search recipes widget-->
                </div>
                <!--//row-->
            </div>
            <!--//wrap-->
        </div>
        <!--//intro-->
        
        <!--wrap-->
        <div class="wrap clearfix">
            <!--row-->
            <div class="row">
                <!--content-->
                <section class="content full-width">
                    <div class="icons dynamic-numbers">
                        <header class="s-title wow fadeInDown" ng-controller="MainCtrl"/>
                            <h2 class="ribbon large">开启你的菜谱之旅吧(´・ω・`)</h2>                                                                                                                                                               
                        </header>
                        
                        <!--row-->
                        
                        <!--//row-->
                    </div>
                </section>
                <!--//content-->
            
                <!--content-->
                <section class="content three-fourth">
                    <!--cwrap-->
                    <div class="cwrap">
                        <!--entries-->
                        <div class="entries row">
                            <!--featured recipe-->
                            <div class="featured two-third wow fadeInLeft">
                                <header class="s-title">
                                    <h2 class="ribbon">今日推荐</h2>
                                </header>
                                <article class="entry">
                                   <figure>
                                        <img ng-src="{{recommandrecipe.photo}}" alt="" />
                                        <figcaption><a href="/#/recipe/{{recommandrecipe._id}}"><i class="ico i-view"></i> <span>查看</span></a></figcaption>
                                   </figure>
                                    <div class="container">
                                        <h2>{{recommandrecipe.name}}</h2>
                                        <p>{{recommandrecipe.description}}</p>
                                        <div class="actions">
                                            <div>
                                                <a href="/#/recipe/{{recommandrecipe._id}}" class="button">查看完整菜谱</a>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!--//featured recipe-->
                            
                            <!--featured member-->
                            
                            <div class="featured one-third wow fadeInLeft" data-wow-delay=".2s">
                                <header class="s-title">
                                    <h2 class="ribbon star">菜谱分享人</h2>
                                </header>
                                <article class="entry">
                                    <figure>
                                        <img ng-src="{{author.photo}}" alt="" />
                                        
                                    </figure>
                                    <div class="container">
                                        <h2>{{author.nickname}}</h2>
                                        <blockquote>个性签名：{{author.intro}}</blockquote>
                                        <div class="actions">
                                            <div>
                                                <p><——wuli maker!</p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <!--//featured member-->
                        </div>
                        <!--//entries-->
                    </div>
                    <!--//cwrap-->
                
                    <!--cwrap-->
                    <div class="cwrap">
                        <header class="s-title">
                            <h2 class="ribbon bright">最新菜谱</h2>
                        </header>
                        
                        <!--entries-->
                        <div class="entries row">
                            
                            <!--item-->
                        <div class="entry one-third wow fadeInLeft" ng-repeat="recipe in newrecipelist">
                            <figure>
                                <img ng-src="{{recipe.photo}}" alt="" />
                                <figcaption><a href="/#/recipe/{{recipe._id}}"><i class="ico i-view"></i> <span>查看</span></a></figcaption>
                            </figure>
                            <div class="container">
                                <h2><a href="/#/recipe/{{recipe._id}}">{{recipe.name}}</a></h2> 
                                <div class="actions">
                                    <div>
                                        <div class="difficulty"><i class="ico i-medium"></i>{{recipe.level}}</div>
                                        <div class="likes"><i class="ico i-likes"></i>{{recipe.likeNum}}</div>
                                        <div class="comments"><i class="ico i-comments"></i>{{0}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            
                            <div class="quicklinks">
                                <a href="/#/recipes" class="button">更多菜谱</a>
                                <a href="javascript:void(0)" class="button scroll-to-top">回到顶部</a>
                            </div>
                        </div>
                        <!--//entries-->
                    </div>
                    <!--//cwrap-->
                
                    <!--cwrap-->
                    
                </section>
                <!--//content-->
        
            
                <!--right sidebar-->
                <aside class="sidebar one-fourth">
                    <div class="widget wow fadeInRight">
                        <h3>菜谱分类</h3>
                        <ul class="boxed">
                            <li class="light"><a href="/#/recipes/type-entree" title="Appetizers"><i class="ico i-appetizers"></i> <span>主菜</span></a></li>
                            <li class="medium"><a href="/#/recipes/type-drink" title="Cocktails"><i class="ico i-cocktails"></i> <span>饮料</span></a></li>
                            <li class="dark"><a href="/#/recipes/type-desert" title="Deserts"><i class="ico i-deserts"></i> <span>甜点</span></a></li>
                            <li class="medium"><a href="/#/recipes/type-snack" title="Cocktails"><i class="ico i-eggs"></i> <span>小吃</span></a></li>
                            <li class="dark"><a href="/#/recipes/type-fish" title="Equipment"><i class="ico i-equipment"></i> <span>海鲜</span></a></li>
                            <li class="light"><a href="/#/recipes/type-west" title="Events"><i class="ico i-events"></i> <span>西餐</span></a></li>

                            <li class="light"><a href="/#/recipes/label-noMeat" title="Ftness"><i class="ico i-fitness"></i> <span>素食</span></a></li>
                            <li class="medium"><a href="/#/recipes/label-noSugar" title="Healthy"><i class="ico i-healthy"></i> <span>无糖</span></a></li>
                            <li class="light"><a href="/#/recipes/label-lowFat" title="Asian"><i class="ico i-asian"></i> <span>低脂</span></a></li>
                            <li class="medium"><a href="/#/recipes/label-spicy" title="Mexican"><i class="ico i-mexican"></i> <span>麻辣</span></a></li>
                            <li class="dark"><a href="/#/recipes/label-noLactose" title="Pizza"><i class="ico i-pizza"></i> <span>无乳糖</span></a></li>
                            <li class="medium"><a href="/#/recipes/label-lowCal" title="Kids"><i class="ico i-kids"></i> <span>低卡路里</span></a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <!--//right sidebar-->
        </div>
        <!--//wrap-->
    </main>