	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/#/" title="Home">主页</a></li>
					<li>我的账号</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
		
			<!--content-->
			<section class="content">
				<!--row-->
				<div class="row">
					<!--profile left part-->
					<div class="my_account one-fourth wow fadeInLeft">
						<figure>
							<img ng-src="{{awesomeThings[0].photo}}" alt="" />
						</figure>
						<div class="container">
							<h2>{{awesomeThings[0].nickname}}</h2> 
						</div>
<!-- 								<div class="f-row full">
									<input type="file"/>
								</div> -->
						<form  name="myForm">
							<section>
								<!-- <div class="image"> <img ng-show="{{awesomeThings[0].photo}}" alt="" /></div> -->

								<input type="file" ngf-select ng-model="picFile" name="file"    
						             accept="image/*" ngf-max-size="20MB" required
						             ngf-model-invalid="errorFile">
						      <i ng-show="myForm.file.$error.maxSize">图片太大
						          {{errorFile.size / 1000000|number:1}}MB: 最大20Mb</i>
						      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> 
						      <button ng-click="picFile = null" ng-show="picFile">移除图片</button>
							</section>	
							<input type="submit" class="button" id="submitRecipe" value="上传头像"  ng-click="SubmitPhoto(picFile)" />
							
						</form>
					</div>
					<!--//profile left part-->
					
					<div class="three-fourth wow fadeInRight">
						<nav class="tabs">
							<ul>
								<li class="active"><a href="#about" title="About me">个人信息</a></li>
								<li><a href="#recipes" title="My recipes">我的菜谱</a></li>
								<li><a href="#favorites" title="My favorites">我的喜欢</a></li>
								<li><a href="#posts" title="My posts">ヽ(•̀ω•́ )ゝ</a></li>
							</ul>
						</nav>
						
						<!--about-->
						<div class="tab-content" id="about">
							<div class="row">
								<dl class="basic two-third">
									<dt>昵称</dt>
									<dd>{{awesomeThings[0].nickname}}</dd>
									<dt>性别</dt>
									<dd>{{awesomeThings[0].sex}}</dd>
									<dt>生日</dt>
									<dd>{{awesomeThings[0].birth.split("T")[0]}}</dd>
									<dt>邮箱</dt>
									<dd>{{awesomeThings[0].email}}</dd>
									<dt>个性签名</dt>
									<dd>{{awesomeThings[0].intro}}</dd>
									<dt>食谱数</dt>
									<dd>{{recipeNum}}</dd>
								</dl>
								
								<div class="one-third">
									<ul class="boxed gold">
										<li class="light"><a href="/#/change_info" title="Best recipe"><i class="ico i-had_best_recipe"></i> <span>修改个人信息</span></a></li>
										<li class="medium"><a href="/#/" title="Was featured"><i class="ico i-was_featured"></i> <span> (｡’▽’｡)♡</span></a></li>
										<li class="dark"><a href="/#/" title="Added a first recipe"><i class="ico i-added_first_recipe"></i> <span> (っ・ω・)っ</span></a></li>
										
										<li class="medium"><a href="/#/" title="Added 10-20 recipes"><i class="ico i-added_several_recipes"></i> <span>≖‿≖✧</span></a></li>
										<li class="dark"><a href="/#/change_pass" title="Events"><i class="ico i-wrote_blog_post"></i> <span> 修改密码
</span></a></li>
										<li class="light"><a href="/#/" title="Fish"><i class="ico i-wrote_comment"></i> <span>(●′ω`●)</span></a></li>
										
										<li class="dark"><a href="/#/" title="Fish"><i class="ico i-won_contest"></i> <span><(‵^′)></span></a></li>
										<li class="light"><a href="/#/" title="Healthy"><i class="ico i-shared_recipe"></i> <span>(ง •̀_•́)ง</span></a></li>
										<li class="medium"><a href="/#/" title="Was featured"><i class="ico i-was_featured"></i> <span>(๑•̀ㅂ•́)و✧</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!--//about-->
					
						<!--my recipes-->
						<div class="tab-content" id="recipes">
							<div class="entries row">

								<div class="entry one-third wow fadeInLeft" ng-repeat="recipe in recipelist">
							<figure>
								<img ng-src="{{recipe.photo}}" alt="" />
								<figcaption><a href="/#/recipe/{{recipe._id}}"><i class="ico i-view"></i> <span>查看</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe/{{recipe._id}}">{{recipe.name}}</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">{{recipe.level}}</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">{{recipe.likeNum}}</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">{{recipe.favorateNum}}</a></div>
									</div>
								</div>
							</div>
						</div>
						
							</div>
						</div>
						//my recipes
						
						
						<!--my favorites-->
						<div class="tab-content" id="favorites">
							<div class="entries row">
								<!--item-->
								<div class="entry one-third">
									<figure>
										<img src="images/img6.jpg" alt="" />
										<figcaption><a href="/#/recipes"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
									</figure>
									<div class="container">
										<h2><a href="/#/recipes">这里是菜品名</a></h2> 
										<div class="actions">
											<div>
												<div class="difficulty"><i class="ico i-medium"></i><a href="#">难度等级</a></div>
												<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
												<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipes#comments">27</a></div>
											</div>
										</div>
									</div>
								</div>
								<!--item-->
								
								<!--item-->
								<div class="entry one-third">
									<figure>
										<img src="images/img5.jpg" alt="" />
										<figcaption><a href="/#/recipes"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
									</figure>
									<div class="container">
										<h2><a href="/#/recipes">这里是菜品名</a></h2> 
										<div class="actions">
											<div>
												<div class="difficulty"><i class="ico i-hard"></i><a href="#">难易程度</a></div>
												<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
												<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipes#comments">27</a></div>
											</div>
										</div>
									</div>
								</div>
								<!--item-->
								
								<!--item-->
								<div class="entry one-third">
									<figure>
										<img src="images/img8.jpg" alt="" />
										<figcaption><a href="/#/recipes"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
									</figure>
									<div class="container">
										<h2><a href="/#/recipes">这里是菜品名</a></h2> 
										<div class="actions">
											<div>
												<div class="difficulty"><i class="ico i-easy"></i><a href="#">难易程度</a></div>
												<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
												<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipes#comments">27</a></div>
											</div>
										</div>
									</div>
								</div> 
								<!--item-->
							</div>
						</div>
						<!--//my favorites-->
						
						
					</div>
				</div>
				<!--//row-->
			</section>
			<!--//content-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->