
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/#/" title="Home">首页</a></li>
					<li>菜谱</li>
					
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title wow fadeInLeft">
					<h1>{{type}}</h1>
				</header>
				
				<!--content-->
				<section class="content three-fourth wow fadeInUp">
					<!--entries-->
					<div class="entries row">


						<h2>{{message}}</h2>


						<!--item-->
						<div class="entry one-third wow fadeInLeft" ng-repeat="recipe in recipelist">
							<figure>
								<img ng-src="{{recipe.photo}}" alt="" />
								<figcaption><a href="/#/recipe/{{recipe._id}}"><i class="ico i-view"></i> <span>查看</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe/{{recipe._id}}">{{recipe.name}}</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i>{{recipe.level}}</div>
										<div class="likes"><i class="ico i-likes"></i>{{recipe.likeNum}}</div>
										<div class="comments"><i class="ico i-comments"></i>{{0}}</div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="quicklinks">
							<a href="/#/recipes" class="button">更多菜品</a>
							<a href="javascript:void(0)" class="button scroll-to-top">回到顶部</a>
						</div>
					</div>
					<!--//entries-->
				</section>
				<!--//content-->
				
				<!--right sidebar-->
				<aside class="sidebar one-fourth wow fadeInRight">
					<div class="widget">
						<ul class="categories right">
							<li class="active"><a href="/#/recipes">所有分类</a></li>
							<li ><a href="/#/recipes/type-entree" >主菜</a></li>
                            <li ><a href="/#/recipes/type-drink">饮料</a></li>
                            <li ><a href="/#/recipes/type-desert">甜点</a></li>
                            <li ><a href="/#/recipes/type-snack">小吃</a></li>
                            <li ><a href="/#/recipes/type-fish">海鲜</a></li>
                            <li ><a href="/#/recipes/type-west">西餐</a></li>

                            <li ><a href="/#/recipes/label-noMeat">素食</a></li>
                            <li ><a href="/#/recipes/label-noSugar">无糖</a></li>
                            <li ><a href="/#/recipes/label-lowFat">低脂</a></li>
                            <li ><a href="/#/recipes/label-spicy">麻辣</a></li>
                            <li ><a href="/#/recipes/label-noLactose">无乳糖</a></li>
                            <li ><a href="/#/recipes/label-lowCal">低卡路里</a></li>
						</ul>
					</div>

				</aside>
				<!--//right sidebar-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main