<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/#/" title="Home">首页</a></li>
					<li>菜谱</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title wow fadeInLeft">
					<h1>菜谱</h1>
				</header>
				
				<!--content-->
				<section class="content three-fourth wow fadeInUp">
					<!--entries-->
					<div class="entries row">
						<!--item-->
						<div class="entry one-third wow fadeInLeft">
							<figure>
								<img src="images/img6.jpg" alt="" />
								<figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe">泰式水果炒饭</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">中</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third wow fadeInLeft" data-wow-delay=".2s">
							<figure>
								<img src="images/img5.jpg" alt="" />
								<figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe">辣味摩洛哥对虾配番茄</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">难</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third wow fadeInLeft" data-wow-delay=".4s">
							<figure>
								<img src="images/img8.jpg" alt="" />
								<figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe">简易蓝莓蛋糕</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-easy"></i><a href="#">易</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third wow fadeInLeft" data-wow-delay=".6s">
							<figure>
								<img src="images/img7.jpg" alt="" />
								<figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe">香蕉蛋卷</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">难</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third wow fadeInLeft" data-wow-delay=".8s">
							<figure>
								<img src="images/img3.jpg" alt="" />
								<figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe">疯狂寿司：你的家庭自制寿司</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">难</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third wow fadeInLeft" data-wow-delay="1s">
							<figure>
								<img src="images/img4.jpg" alt="" />
								<figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe">奶油泡芙：吃了不会胖呦</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">难</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third	wow fadeInLeft" data-wow-delay="1.2s">
							<figure>
								<img src="images/img13.jpg" alt="" />
								<figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe">饼干奶油配刺身</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-easy"></i><a href="#">易</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third wow fadeInLeft" data-wow-delay="1.4s">
							<figure>
								<img src="images/img14.jpg" alt="" />
								<figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe">巨无霸蔬菜堡</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-easy"></i><a href="#">易</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third wow fadeInLeft" data-wow-delay="1.6s">
							<figure>
								<img src="images/img15.jpg" alt="" />
								<figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe">谷物面包意面</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">中</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third wow fadeInLeft" data-wow-delay="1.8s">
							<figure>
								<img src="images/img16.jpg" alt="" />
								<figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe">煎蛋家庭披萨</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">中</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third wow fadeInLeft" data-wow-delay="2s">
							<figure>
								<img src="images/img17.jpg" alt="" />
								<figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe">重油蛋糕</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-hard"></i><a href="#">难</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<!--item-->
						<div class="entry one-third wow fadeInLeft" data-wow-delay="2.2s">
							<figure>
								<img src="images/img18.jpg" alt="" />
								<figcaption><a href="/#/recipe"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe">巧克力樱桃派</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">中</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">27</a></div>
									</div>
								</div>
							</div>
						</div>
						<!--item-->
						
						<div class="quicklinks">
							<a href="#" class="button">更多菜品</a>
							<a href="javascript:void(0)" class="button scroll-to-top">回到顶部</a>
						</div>
					</div>
					<!--//entries-->
				</section>
				<!--//content-->
				
				<!--right sidebar-->
				<aside class="sidebar one-fourth wow fadeInRight">
					<div class="widget">
						<ul class="categories right">
							<li class="active"><a href="#">所有分类</a></li>
							<li><a href="#">主菜</a></li>
							<li><a href="#">甜点</a></li>
							<li><a href="#">饮料</a></li>
							<li><a href="#">小吃</a></li>
							<li><a href="#">西餐</a></li>
							<li><a href="#">海鲜</a></li>
							<li><a href="#">素食</a></li>
							<li><a href="#">无糖</a></li>
							<li><a href="#">低脂</a></li>
							<li><a href="#">麻辣</a></li>
							<li><a href="#">无乳糖</a></li>
							<li><a href="#">低卡路里</a></li>
							<li><a href="#">Kids</a></li>
							<li><a href="#">Meat</a></li>
							<li><a href="#">Snacks</a></li>
							<li><a href="#">Salads</a></li>
							<li><a href="#">Storage</a></li>
							<li><a href="#">Vegetarian</a></li>
						</ul>
					</div>
					<div class="widget">
						<h3>广告</h3>
						<a href="#"><img src="images/advertisment.jpg" alt="" /></a>
					</div>
				</aside>
				<!--//right sidebar-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->