	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/#/" title="Home">主页</a></li>
					<li><a href="#" title="Recipes">菜谱</a></li>
					<li><a href="/#/recipes" title="Cocktails">点心</a></li>
					<li>菜谱</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			<!--row-->
			<div class="row">
				<header class="s-title wow fadeInLeft">
					<h1>{{recipe.name}}</h1>
					
				</header>

				
				<!--content-->
				<section class="content three-fourth">
					<div class="row">
					<!--recipe-->
						<div class="recipe">
							<!--two-third-->
							<article class="two-third wow fadeInLeft">
								<div class="image"><a href="#"><img ng-src="{{recipe.photo}}" alt="" /></a></div>
								<div class="intro"><p><strong>菜品简介</strong></p> <p>{{recipe.description}}</p></div>
								<div class="instructions">
									<ol>
										<li ng-repeat="step in steps">{{step.detail}}</li>
									</ol>
								</div>
							</article>
							<!--//two-third-->
							
							<!--one-third-->
							<article class="one-third wow fadeInDown">
								<dl class="basic">
									<dt>制作时间</dt>
									<dd>{{recipe.makeTime}}</dd>
									<dt>难度</dt>
									<dd>{{recipe.level}}</dd>
									<dt>适宜人数</dt>
									<dd>{{recipe.peopleNum}} </dd>
								</dl>
								
								<dl class="user">
									<dt>类别</dt>
									<dd>{{recipe.labels}}</dd>
								    <dt>卡路里 </dt>
								    <dd>{{recipe.calorie}}</dd>

								</dl>
								
								<dl class="ingredients" ng-repeat="meterial in meterials">
				
									<dt>{{meterial.amount}}</dt>
									<dd>{{meterial.name}}</dd>
								</dl>
							</article>
							<!--//one-third-->
						</div>
						
					
					</div>
				</section>
				<!--//content-->
				
				<!--right sidebar-->
				<aside class="sidebar one-fourth wow fadeInRight">

					<div class="widget members">
						<h3>菜谱分享者</h3>
						<figure>
							<img src="{{author.photo}}" alt="" />
						</figure>
						<h3>{{author.nickname}}</h3>
					</div>

					


					<div class="widget share">
						<ul class="boxed">
							<li class="light"><a href="#" title="Facebook"><i class="ico i-facebook"></i> <span>分享链接</span></a></li>
							<li class="medium"><a href="#" title="Twitter"><i class="ico i-twitter"></i> <span>分享到微博</span></a></li>
							<li class="dark"><a ng-click="addLike()" title="Favourites"><i class="ico i-favourites"></i> <span>{{likeMessage}}</span></a></li>
						</ul>
					</div>
					<h3>饮食偏好</h3>
					<div ng-repeat="like in likes">
						<a href="/#/recipes/{{like.form}}-{{like.label}}" class="button gold">#{{like.name}}</a>
						<h3></h3>
					</div>
					
					
				</aside>
				<!--//right sidebar-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->