	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/#/" title="Home">主页</a></li>
					<li><a href="#" title="Recipes">菜谱</a></li>
					<li><a href="/#/recipes" title="Cocktails">点心</a></li>
					<li>菜谱</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			<!--row-->
			<div class="row">
				<header class="s-title wow fadeInLeft">
					<h1>{{recipe.name}}</h1>
				</header>
				<!--content-->
				<section class="content three-fourth">
					<div class="row">
					<!--recipe-->
						<div class="recipe">
							<!--two-third-->
							<article class="two-third wow fadeInLeft">
								<div class="image"><a href="#"><img ng-src="{{recipe.photo}}" alt="" /></a></div>
								<div class="intro"><p><strong>菜品简介</strong></p> <p>{{recipe.description}}</p></div>
								<div class="instructions">
									<ol>
										<li ng-repeat="step in steps">{{step.detail}}</li>
									</ol>
								</div>
							</article>
							<!--//two-third-->
							
							<!--one-third-->
							<article class="one-third wow fadeInDown">
								<dl class="basic">
									<dt>制作时间</dt>
									<dd>{{recipe.makeTime}}</dd>
									<dt>难度</dt>
									<dd>{{recipe.level}}</dd>
									<dt>适宜人数</dt>
									<dd>{{recipe.peopleNum}} </dd>
								</dl>
								
								<dl class="user">
									<dt>类别</dt>
									<dd>{{recipe.labels}}</dd>
									<dt>发布者</dt>
									<dd>{{author.nickname}}</dd>
								</dl>
								
								<dl class="ingredients" ng-repeat="meterial in meterials">
				
									<dt>{{meterial.amount}}</dt>
									<dd>{{meterial.name}}</dd>
								</dl>
							</article>
							<!--//one-third-->
						</div>
						<!--//recipe-->
							
						<!--comments-->
						<div class="comments wow fadeInUp" id="comments">
							<h2>5条评论 </h2>
							<ol class="comment-list">
								<!--comment-->
								<li class="comment depth-1">
									<div class="avatar"><a href="my_profile.html"><img src="images/avatar1.jpg" alt="" /></a></div>
									<div class="comment-box">
										<div class="comment-author meta"> 
											<strong>王爸爸</strong> 发表于1分钟前 <a href="#" class="comment-reply-link"> 回复</a>
										</div>
										<div class="comment-text">
											<p>啊哈哈哈哈哈哈哈哈哈</p>
										</div>
									</div> 
								</li>
								<!--//comment-->
								
								<!--comment-->
								<li class="comment depth-1">
									<div class="avatar"><a href="my_profile.html"><img src="images/avatar2.jpg" alt="" /></a></div>
									<div class="comment-box">
										<div class="comment-author meta"> 
											<strong>博</strong> 发表于1个月前 <a href="#" class="comment-reply-link"> 回复</a>
										</div>
										<div class="comment-text">
											<p>皮卡皮卡</p>
										</div>
									</div> 
								</li>
								<!--//comment-->
								
								<!--comment-->
								
								
								<!--comment-->
								<li class="comment depth-1">
									<div class="avatar"><a href="my_profile.html"><img src="images/avatar3.jpg" alt="" /></a></div>
									<div class="comment-box">
										<div class="comment-author meta"> 
											<strong>歆曼曼</strong> 发表于1个月前 <a href="#" class="comment-reply-link"> 回复</a>
										</div>
										<div class="comment-text">
											<p>(⊙o⊙)哦</p>
										</div>
									</div> 
								</li>
								<!--//comment-->
							</ol>
						</div>
						<!--//comments-->
						
						<!--respond-->
						<div class="comment-respond wow fadeInUp" id="respond">
							<h2>评论</h2>
							<div class="container">
								<p><strong>注意:</strong> 用户评论不代表本站立场，评论需正确回答验证问题，我们保留删除用户不当评论的权力</p>
								<p>您的电子邮件地址将受到保护<span class="req">*</span></p>
								<form>
									<div class="f-row">
										<div class="third">
											<input type="text" placeholder="您的姓名" />
											<span class="req">*</span>
										</div>
										
										<div class="third">
											<input type="email" placeholder="电子邮件" />
											<span class="req">*</span>
										</div>
										
										<div class="third">
											<input type="text" placeholder="个人主页" />
										</div>
									
									</div>
									<div class="f-row">
										<textarea></textarea>
									</div>
									
									<div class="f-row">
										<div class="third captcha">
											<label>2+10=?</label>
											<input type="text" />
											<span class="req">*</span>
										</div>
										
										<div class="third bwrap">
											<input type="submit" value="提交评论" />
										</div>
									</div>
									
									<div class="bottom">
										<div class="f-row checkbox">
											<input type="checkbox" id="ch1" />
											<label for="ch1">通过邮件通知新评论</label>
										</div>
									</div>
								</form>
							</div>
						</div>
						<!--//respond-->
					</div>
				</section>
				<!--//content-->
				
				<!--right sidebar-->
				<aside class="sidebar one-fourth wow fadeInRight">
					<div class="widget nutrition">
						<!-- <h3>营养成分 <span>(每份)</span></h3> -->

					<div class="widget members">
						<h3>菜谱分享者</h3>
						<figure>
							<img src="images/avatar.jpg" alt="" />
						</figure>
					</div>

					<table>
							<tr>
								<td>卡路里 </td>
								<td>{{recipe.calorie}}</td>
							</tr>
							<!-- <tr>
								<td>蛋白质</td>
								<td>59g</td>
							</tr>
							<tr>
								<td>碳水化合物</td>
								<td>59g</td>
							</tr>
							<tr>
								<td>饱和脂肪酸</td>
								<td>29g</td>
							</tr>
							<tr>
								<td>不饱和脂肪酸</td>
								<td>17g</td>
							</tr>
							<tr>
								<td>纤维素</td>
								<td>2g</td>
							</tr>
							<tr>
								<td>糖分</td>
								<td>44g</td>
							</tr>
							<tr>
								<td>盐分</td>
								<td>0.51g</td>
							</tr> -->
						</table>
					</div>

					<div class="widget share">
						<ul class="boxed">
							<li class="light"><a href="#" title="Facebook"><i class="ico i-facebook"></i> <span>分享链接</span></a></li>
							<li class="medium"><a href="#" title="Twitter"><i class="ico i-twitter"></i> <span>分享到微博</span></a></li>
							<li class="dark"><a href="#" title="Favourites"><i class="ico i-favourites"></i> <span>加入收藏</span></a></li>
						</ul>
					</div>
					
					
				</aside>
				<!--//right sidebar-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->