<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/#/" title="Home">首页</a></li>
					<li>菜谱</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title wow fadeInLeft">
					<h1>菜谱</h1>
				</header>
				
				<!--content-->
				<section class="content three-fourth wow fadeInUp">
					<!--entries-->
					<div class="entries row">


						<!--item-->
						<div class="entry one-third wow fadeInLeft" ng-repeat="recipe in recipelist">
							<figure>
								<img ng-src="{{recipe.photo}}" alt="" />
								<figcaption><a href="/#/recipe/{{recipe._id}}"><i class="ico i-view"></i> <span>查看</span></a></figcaption>
							</figure>
							<div class="container">
								<h2><a href="/#/recipe/{{recipe._id}}">{{recipe.name}}</a></h2> 
								<div class="actions">
									<div>
										<div class="difficulty"><i class="ico i-medium"></i><a href="#">{{recipe.level}}</a></div>
										<div class="likes"><i class="ico i-likes"></i><a href="#">{{recipe.likeNum}}</a></div>
										<div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef//#/recipe#comments">{{recipe.favorateNum}}</a></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="quicklinks">
							<a href="/#/" class="button">更多菜品</a>
							<a href="javascript:void(0)" class="button scroll-to-top">回到顶部</a>
						</div>
					</div>
					<!--//entries-->
				</section>
				<!--//content-->
				
				<!--right sidebar-->
				<aside class="sidebar one-fourth wow fadeInRight">
					<div class="widget">
						<ul class="categories right">
							<li class="active"><a href="#">所有分类</a></li>
							<li><a href="#">主菜</a></li>
							<li><a href="#">甜点</a></li>
							<li><a href="#">饮料</a></li>
							<li><a href="#">小吃</a></li>
							<li><a href="#">西餐</a></li>
							<li><a href="#">海鲜</a></li>
							<li><a href="#">素食</a></li>
							<li><a href="#">无糖</a></li>
							<li><a href="#">低脂</a></li>
							<li><a href="#">麻辣</a></li>
							<li><a href="#">无乳糖</a></li>
							<li><a href="#">低卡路里</a></li>
							<li><a href="#">Kids</a></li>
							<li><a href="#">Meat</a></li>
							<li><a href="#">Snacks</a></li>
							<li><a href="#">Salads</a></li>
							<li><a href="#">Storage</a></li>
							<li><a href="#">Vegetarian</a></li>
						</ul>
					</div>
					<div class="widget">
						<h3>广告</h3>
						<a href="#"><img src="images/advertisment.jpg" alt="" /></a>
					</div>
				</aside>
				<!--//right sidebar-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->