	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--row-->
			<div class="row">
			<!--content-->
				<section class="content center full-width wow fadeInUp">
					<div class="modal container">
					<form name="form" ng-submit="register()" role="form">
						<h3>注册</h3>
						<div class="f-row">
						<!--<input type="text" name="username" id="username" placeholder="用户名" ng-model="username" required />-->
							<input type="text" name="nickname" id="nickname" placeholder="昵称" ng-model="nickname" required/>
						</div>
						<div class="f-row">
							<input type="email" name="email" id="email" placeholder="电子邮箱" ng-model="email" required/>
						</div>
						<div class="f-row">
							<input type="password" name="password" id="password" placeholder="密码" ng-model="password" required/>
						</div>
						<div class="f-row">
							<input type="password" name="password1" id="password1" placeholder="重复密码" ng-model="password1" required/>
						</div>
						<div class="f-row">
							<label for="birth">生日：</label><input name="birth" id="birth" type="date" value="2016-01-01" ng-model="birth" required/>
						</div>
						<div class="f-row">
							<div class="f-row full">
							<label for="sex">性别：</label>
								<select ng-model="sex" ng-options="sex for sex in sexes"></select>
							</div>
						</div>
						<div class="f-row">
							<input type="text" name="intro" id="intro" placeholder="来一段个性签名吧 o(*≧▽≦)ツ" ng-model="intro" required/>
						</div>
						<div class="f-row bwrap">
							<input type="submit" value="注册" />
						</div>
						<p>已拥有账号？<a href="/#/login">登录</a></p>
						{{message}}
						</form>
					</div>
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->