	<!--main-->
	<main class="main" role="main">
		<!--wrap-->
		<div class="wrap clearfix">
			<!--breadcrumbs-->
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/#/" title="Home">主页</a></li>
					<li>提交菜谱</li>
				</ul>
			</nav>
			<!--//breadcrumbs-->
			
			<!--row-->
			<div class="row">
				<header class="s-title">
					<h1>添加新菜谱</h1>
				</header>
					
				<!--content-->
				<section class="content full-width wow fadeInUp">
					<div class="submit_recipe container">
						<form>
							<section>
								<h2>基本信息</h2>
								<p>下列信息均需填写</p>
								<div class="f-row">
									<div class="full"><input type="text" placeholder="菜品名" /></div>
								</div>
								<div class="f-row">
									<div class="third"><input type="text" placeholder="准备时间" /></div>
									<div class="third"><input type="text" placeholder="制作时间" /></div>
									<div class="third"><input type="text" placeholder="难度" /></div>
								</div>
								<div class="f-row">
									<div class="third"><input type="text" placeholder="适宜人数？" /></div>
									<div class="third"><select><option selected="selected">选择一个分类</option></select></div>
								</div>
							</section>
							
							<section>
								<h2>描述</h2>
								<div class="f-row">
									<div class="full"><textarea placeholder="菜品简介"></textarea></div>
								</div>
							</section>	
							
							<section>
								<h2>材料</h2>
								<div class="f-row ingredient">
									<div class="large"><input type="text" placeholder="材料名称" /></div>
									<div class="small"><input type="text" placeholder="用量" /></div>
									<div class="third"><select><option selected="selected">选择分类</option></select></div>
									<button class="remove">-</button>
								</div>
								<div class="f-row full">
									<button class="add">添加一种材料</button>
								</div>
							</section>	
							
							<section>
								<h2>步骤 <span>(添加步骤，每次只能添加一步)</span></h2>
								<div class="f-row instruction">
									<div class="full"><input type="text" placeholder="步骤" /></div>
									<button class="remove">-</button>
								</div>
								<div class="f-row full">
									<button class="add">添加一个步骤</button>
								</div>
							</section>
							
							<section>
								<h2>图片</h2>
								<div class="f-row full">
									<input type="file"/>
								</div>
							</section>	
							
							<section>
								<h2>状态 <span>(你是想保存草稿还是直接提交)</span></h2>
								<div class="f-row full">
									<input type="radio" id="r1" name="radio"/>
									<label for="r1">保存草稿</label>
								</div>
								<div class="f-row full">
									<input type="radio" id="r2" name="radio"/>
									<label for="r2">直接提交</label>
								</div>
							</section>
							
							<div class="f-row full">
								<input type="submit" class="button" id="submitRecipe" value="发布" />
							</div>
						</form>
					</div>
				</section>
				<!--//content-->
			</div>
			<!--//row-->
		</div>
		<!--//wrap-->
	</main>
	<!--//main-->